<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="common::head"></th:block>
  <title>Hakkımızda</title>
</head>
<body>
  <!-- Navigator bar from common html page -->
    <th:block th:replace="common::header"></th:block>
    <div class="container">
      <div class="w3-wrapper w3-padding-64">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor mi odio, eget posuere sapien mattis sit amet. Aliquam nisl ipsum, posuere et laoreet vel, suscipit vitae mauris. Nulla pharetra varius lorem, a pharetra tortor vulputate vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus mauris sit amet arcu semper, eu tempor leo ultricies. Sed cursus ipsum ac mattis tempus. Morbi eu ultrices nunc, et dictum eros.

    Etiam leo erat, lobortis semper sollicitudin nec, lobortis sed lectus. In vehicula metus quam, nec tincidunt purus accumsan quis. Praesent varius leo lorem, eget feugiat justo finibus elementum. Nullam in odio ultricies, luctus lorem eget, cursus mi. Nam in tempor sem, non blandit est. Ut ac enim ac sapien aliquet pretium at ut tellus. Maecenas ut enim sed diam pulvinar dictum. Aenean non lacinia ligula. Integer faucibus orci magna, eu porttitor tellus gravida vitae. Nam luctus ornare metus, ac tincidunt augue sagittis mattis. Praesent vitae fermentum ligula. Proin ornare diam ac ligula luctus semper. Ut volutpat magna eu sodales mollis.
    
    Morbi pharetra elit nec convallis faucibus. Fusce sit amet nulla mattis, euismod velit interdum, cursus ipsum. Sed eget consectetur lectus, at lobortis dui. Donec efficitur diam orci, sed aliquam ipsum posuere ut. Vivamus blandit posuere sem. Vivamus vulputate porta justo, at ultricies purus euismod id. Aenean tellus eros, congue eu erat eget, feugiat varius nisi. Cras mollis consectetur arcu, porta maximus arcu laoreet nec. Phasellus egestas viverra lorem in semper. Aliquam nec felis odio. Pellentesque feugiat auctor diam, in malesuada nulla porta
      </div>
      <img src="" style="visibility: hidden;" width="300px" height="300px" />
  </div>
    <!-- Footer from common html page -->
    <th:block th:replace="common::footer"></th:block>
    <!-- Scripts -->
    <th:block th:replace="common::scripts"></th:block>
    
</body>
</html>